@@charset "UTF-8";

/* 
font-family: 'Allerta Stencil', sans-serif;
font-family: 'Gotu', sans-serif; 
*/

body, html {
    margin:0;
    padding:0;
}

body {
    font-family: "Advent Pro", sans-serif;
    background: url("../img/wave.svg") no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
}
/* #top { border:1px dotted black;} */

#btTop {
    position: fixed;
    right:15px;
    bottom: 15px;
    z-index: 100;
}

a:link.btNav {
    display:inline-block;
    width: 150px;
    text-align: center;
    padding:10px;
    font-family: 'Allerta Stencil', sans-serif;
    background-color: olivedrab;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    margin:5px;
}

a:hover.btNav { color:black; text-decoration: none; }
a:visited.btNav { color:black; text-decoration: none; }
a:active.btNav { color:black; text-decoration: none; }

#presentation{
    padding: 20px;
}
#btgreen{
    font-family: 'Allerta Stencil', sans-serif;
    background-color: #618C03;
    border: 0;
    border-radius:45px;
}
.titrebgorange{
    font-family: Gotu, sans-serif;
    background-color: #D97904;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 120%;
    font-size: 25px;
}