@@charset "UTF-8";

body, html {
    margin:0;
    padding:0;
}

body {
    font-family: "Advent Pro", sans-serif;
    background: url("../img/wave.svg") no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
}

#btTop {
    position: fixed;
    right:15px;
    bottom: 15px;
    z-index: 100;
}

a:link.btNav {
    display:inline-block;
    width: 150px;
    text-align: center;
    padding:10px;
    font-family: 'Allerta Stencil', sans-serif;
    background-color: olivedrab;
    text-transform: uppercase;
    white-space: nowrap;
    text-decoration: none;
    border-radius: 5px;
    color: black;
    margin:5px;
}

a:hover.btNav { color:black; text-decoration: none; }
a:visited.btNav { color:black; text-decoration: none; }
a:active.btNav { color:black; text-decoration: none; }

#presentation{
    padding: 20px;
    letter-spacing: 3px;
}
#btgreen{
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 36px;
    background-color: #618C03;
    border: 0;
    border-radius:45px;
    padding-inline: 25px;
}

#btyellow{
    font-family: 'Advent Pro', sans-serif;
    font-weight: 600;
    font-size: 36px;
    background-color: #F2B705;
    border: 0;
    border-radius:10px;
    padding-inline: 10px;
    box-shadow: 4px 2px 5px gray;
}

.titrebgorange{
    font-family: Gotu, sans-serif;
    background-color: #D97904;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 120%;
    font-size: 25px;
}

#addr {
    padding: 20px;
    letter-spacing: 3px;
}